<%- include('includes/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<div id="page" class="site page-cart">
    <aside class="site-off desktop-hide">
        <div class="off-canvas">
            <div class="canvas-head flexitem">
                <div class="logo"><a href="/public"><span class="circle"></span>Shop</a></div>
                <a href="#" class="t-close flexcenter"><i class="ri-close-line"></i></a>
            </div>
            <div class="departments"></div>
            <nav></nav>
            <div class="thetop-nav"></div>
        </div>
    </aside>

    <%- include('includes/body_head.ejs') %>

    <main>
        <div class="single-checkout">
            <div class="container">
                <div class="wrapper">
                    <div class="checkout flexwrap">
                        <div class="item left styled">
                            <h1>Առաքման տվյալներ</h1>
                            <form action="">
                                <input type="hidden" id="totalAmount" value="<%= (cartData.totalPrice.toFixed(2) + 50 - 10) %>">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="csrf">
                                <p>
                                    <label for="fname">Անուն<span></span></label>
                                    <input type="text" id="fname" required>
                                </p>
                                <p>
                                    <label for="lname">Ազգանուն<span></span></label>
                                    <input type="text" id="lname" required>
                                </p>
                                <p>
                                    <label for="address">Հացեն<span></span></label>
                                    <input type="text" id="address" required>
                                </p>
                                <p>
                                    <label for="city">Քաղաք<span></span></label>
                                    <input type="text" id="city" required>
                                </p>
                                <p>
                                    <label for="postal">Փոստային ինդեքս<span></span></label>
                                    <input type="number" id="postal" required>
                                </p>
                                <p>
                                    <label for="country">Երկիր</label>
                                    <select name="country" id="country">
                                        <option value="Հայաստան">Հայաստան</option>
                                    </select>
                                </p>
                                <p>
                                    <label for="phone">Հեռախոսահամար<span></span></label>
                                    <input type="number" id="phone" required>
                                </p>
                                <p>
                                    <label >Պատվերի նշումներ (ըստ ցանկության)</label>
                                    <textarea cols="30" rows="10"></textarea>
                                </p>
                            </form>
                            <div class="primary-checkout">
                                <button class="primary-button" id="order-btn">Կատարել վճարում</button>
                                <script src="https://js.stripe.com/v3/"></script>
                                <script>
                                    let stripe = Stripe('pk_test_51NffRPEw9Iel7uI7g96eVaxNLlg3pfRE0gm2mbCg9zSEaxIZERFo3T7YZe3Yk1SLvy5aV9i81ocAWazLbikAjBPF00UvC02fmU');
                                    let orderBtn = document.getElementById('order-btn');
                                    orderBtn.addEventListener('click', function() {
                                        stripe.redirectToCheckout({
                                            sessionId: '<%= sessionId %>'
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="item right">
                            <h2>Պատվերի համառոտ նկարագրություն</h2>
                            <div class="summery-order is_sticky">
                                <div class="summary-totals">
                                    <ul>
                                        <li>
                                            <span>Գումար</span>
                                            <span>$<%= cartData.totalPrice.toFixed(2) %></span>
                                        </li>
                                        <li>
                                            <span>Զեղչ</span>
                                            <span>$15.00</span>
                                        </li>
                                        <li>
                                            <span>Առաքման գումար</span>
                                            <span>$3.00</span>
                                        </li>
                                        <li>
                                            <span>Ընհանուր Գումար</span>
                                            <span>$<%= (cartData.totalPrice.toFixed(2) - 15 + 3) %></span>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="products mini">
                                    <% cartData.items.forEach(item => { %>
                                        <li class="item">
                                            <div class="thumbnail object-cover">
                                                <img src="<%= item.productImage %>" alt="">
                                            </div>
                                            <div class="item-content">
                                                <p><%= item.productName %></p>
                                                <span class="price">
                                                    <span>$<%= item.totalItemPrice.toFixed(3) %></span>
                                                    <span>x <%= item.quantity %></span>
                                                    <% if (item.size) { %>
                                                    <span>: չափսը <%= item.size %></span>
                                                    <% } %>
                                                </span>
                                            </div>
                                        </li>
                                    <% }); %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </main>

    <%- include('includes/footer.ejs') %>
    <div class="menu-bottom desktop-hide">
        <div class="container">
            <div class="wrapper">
                <nav>
                    <ul class="flexitem">
                        <li>
                            <a href="#">
                                <i class="ri-bar-chart-line"></i>
                                <span>Trending</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ri-user-6-line"></i>
                                <span>Account</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ri-heart-line"></i>
                                <span>Wishlist</span>
                            </a>
                        </li>
                        <li>
                            <a href="#0" class="t-search">
                                <i class="ri-search-line"></i>
                                <span>Search</span>
                            </a>
                        </li>
                        <li>
                            <a href="#0" class="cart-trigger">
                                <i class="ri-shopping-cart-line"></i>
                                <span>Cart</span>
                                <div class="fly-item">
                                    <span class="item-number">0</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="search-bottom desktop-hide">
        <div class="container">
            <div class="wrapper">
                <a href="#" class="t-close search-close flexcenter"><i class="ri-close-line"></i></a>
                <form action="" class="search newsletter-search">
                    <span class="icon-large"><i class="ri-search-line"></i></span>
                    <input type="search" placeholder="Search for products" required>
                    <button type="submit" style="right: 0!important;">Search</button>
                </form>
            </div>
        </div>
    </div>

    <div id="modal" class="modal">
        <div class="content flexcol">
            <div class="image object-cover">
                <img src="assets/products/apparel4.jpg" alt="">
            </div>
            <h2>ՍՏԱՑԵՔ ԱՄԵՆԱԹԱՐՄ ԳՈՐԾԱՐՔՆԵՐԸ և ԿՏՐՈՆՆԵՐԸ</h2>
            <p class="mobile-hide">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum fuga magnam voluptates! Dicta, ducimus omnis?</p>
            <form action="" class="search">
                <span class="icon-large"><i class="ri-mail-line"></i></span>
                <input type="mail" placeholder="Մուտքագրեք ձեր էլեկրոնային հասցեն">
                <button>Բաժանորդագրվել</button>
            </form>
            <a href="#" class="t-close modalclose flexcenter">
                <i class="ri-close-line"></i>
            </a>
        </div>
    </div>

    <div class="backtotop">
        <a href="#" class="flexcol">
            <i class="ri-arrow-up-line"></i>
            <span>Վերև</span>
        </a>
    </div>
    <div class="overlay"></div>
</div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.3.1/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="jquery-3.7.1.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/checkout.js"></script>
<script>
    window.onload = function () {
        document.querySelector('.site').classList.toggle('showmodal')
    }
    document.querySelector('.modalclose').addEventListener('click', function () {
        document.querySelector('.site').classList.remove('showmodal')
    })
    const FtoShow = '.filter';
    const Fpopup = document.querySelector(FtoShow);
    const Ftrigger = document.querySelector('.filter-trigger');

    Ftrigger.addEventListener('click', () => {
        setTimeout(() => {
            if(!Fpopup.classList.contains('show')) {
                Fpopup.classList.add('show')
            }
        }, 250 )
    })

    document.addEventListener('click', (e) => {
        const isClosest = e.target.closest(FtoShow);
        if (!isClosest && Fpopup.classList.contains('show')) {
            Fpopup.classList.remove('show')
        }
    })

</script>
</html>